* {
    font-family: Arial, Helvetica, sans-serif;
}
.main {
    padding: 25px;
    width: 45%;
    background-color: rgb(252, 252, 252);
    margin: auto;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}